*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0px;
}

header{
    background-color: #f8cfb4;
    margin-bottom: 8px;
    
}

.avatar{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 10px;
    border-radius: 100%;

}
.img-redonda-header{
    border-radius: 100%;
}
img{
    max-width: 100%;
}
.nome{
    padding-top: 40px;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 70%;
}

p,a{
    text-align: justify;
    line-height: 1.5;
    text-indent: 5%;
}
ul{
    line-height: 1.5;
    text-align: center;
}
li{
    line-height: 1.5;
    text-align: justify;
}

main{
    width: 70%;
    background-color: #ffffff;
    display: inline-block;
    vertical-align: top;
}
.titulo{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 8px;
}


aside{
    width: 29%;
    background-color: #f8cfb4;
    display: inline-block;
    vertical-align: top; 
    border-radius: 10px;
    padding: 12px;
    text-align: center;

}
.coleguinhas{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    border-radius: 50px;
    
}

section{
    background-color: #f8cfb4;
    margin: 0 0 10px 10px;
    border-radius: 10px;
    padding: 10px;

}

footer{
    height: 80px;
    background-color: #f8cfb4;
    padding: 10px;
    text-align: center;

}


.redes-sociais{
    margin: 0 5px;
    padding-top: 20px;
    padding: 10px;
    text-align: center;
}